@font-face {
    font-family: BitParty;
    src: url('/Application/View/font/8_bit_party.ttf');
}

@font-face {
    font-family: BitOperator;
    src: url('/Application/View/font/8bitoperator.ttf');
}


body {
	font-family: BitParty;
	overflow: hidden;
	overflow-x: hidden;
	overflow-y: hidden;
}

.fundo {
	position: absolute;
	top: 0;
	left: 0;
	width: 500;
	height: 500;
	background-color: #000000;
	background-image: url('/Application/View/img/background_v2.jpg');
	background-repeat: repeat;
	color: #FFFFFF;
	transition: background-image 0.3s ease;
}

.backgroundTap {
	position: absolute;
	background-image: url('/Application/View/img/arrow_up_02.png');
	background-repeat: no-repeat;
	background-position: center;
	display: none;
}

.presentation {
	position: absolute;
	top: 0;
	left: 0;
	width: 500;
	height: 500;
	background-color: #FFFFFF;
	color: #000000;
	display: block;
	background-image: url('/Application/View/img/title.png');
}

.animation {
	position: absolute;
	float: left;
	left: 50px;
	top: 200px;
}

.personagem {
	display: none;
	position: absolute;
	width: 50;
	height: 50;
}

.item {
	display: none;
	position: absolute;
	width: 25;
	height: 25;
}

.barraAction {
	padding-top: 500px;
	background-color: #450000;
	height: 40px;
	text-align: center;
}

.TapUp {
	float: right;
    top: 1;
    left: 115;
    width: 270;
    height: 160;
	/*background-color: #686654;
    /*top: 10;
    left: 140;
    width: 300;
    height: 200;*/

}

.TapDown {
	float: left;
	top: 340;
	left: 115;
	width: 270;
	height: 160;
	/*background-color: #686654;
	/*top: 370;
	left: 140;
	width: 300;
	height: 200;*/
	-webkit-transform: rotate(-180deg);
	-moz-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	-o-transform: rotate(-180deg);
	transform: rotate(-180deg);
}

.TapLeft {
	float: left;
	top: 145;
	left: 30;
	width: 160;
	height: 210;
	/*background-color: #686;
	/*top: 140;
	left: 34;
	width: 200;
	height: 300;*/
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
}

.TapRight {
	float: left;
	top: 145;
	left: 308;
	width: 160;
	height: 210;
	/*background-color: #686;
	/*top: 140;
	left: 348;
	width: 200;
	height: 300;*/
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}

.barraInfo {
	background-color: #575757;
	position: absolute;
	float: left;
	top: 500px;
	width: 500px;
	height: 100px;
	border-bottom-style: solid;
    border-bottom-width: 5px;
	border-bottom-color:  #2B2B2B;
	padding-top: 5px;
	padding-bottom: 5px;
}

.mostrador {
	font-family: BitOperator;
	font-size: 32px;
	color: #FFF;
	padding-top: 8px;
}

.tituloMostrador {
	font-size: 17px;
	color: #FFD61F;
}

.action {
	font-size: 14px;
	color: #FFD61F;
	padding-top: 5px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-weight: bold;
	min-width: 20px;
	max-width: 90px;

}

.contador {
	position: absolute;
	float: left;
	font-size: 14px;
	color: #FFFF00;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	display: none;
}

.busted {
	position: absolute;
	float: left;
	color: #FFFFFF;
	display: none;
	left: 0px;
	top: 0px;
	width: 500px;
	height: 500px;
}

.timeUp {
	position: absolute;
	float: left;
	color: #FFFFFF;
	display: none;
	left: 0px;
	top: 0px;
	width: 500px;
	height: 500px;
}

.title {
	font-size: 40;
}

.formRanking {
	position: absolute;
	float: left;
	display: none;
	left: 152px;
	top: 295px;
	background-color: #4f4537;
	width: 200px;
	height: 174px;
}

.formRanking .nickname {
	padding-left: 6px;
	padding-top: 6px;
	font-size: 11px;
	color: #FFF;
}

.formRanking .btOk {
	position: absolute;
	float: left;
	width: 50px;
	height: 50px;
	left: 30px;
	top: 98px;
	
}

.formRanking .btVerRanking {
	position: absolute;
	float: left;
	width: 50px;
	height: 50px;
	left: 105px;
	top: 98px;
	
}

.formRanking .btOk:hover {
	cursor: pointer;
}

.formRanking .btVerRanking:hover {
	cursor: pointer;
}

.formRanking .email {
	padding-left: 6px;
	padding-top: 6px;
	font-size: 11px;
	color: #FFF;
}

.textField {
	border-width: 1px;
	border-color: #000;
	width: 188px;
	height: 18px;
}

#ranking {
	position: absolute;
	float: left;
	top: 0px;
	left: 0px;
	display: none;
	width: 500px;
	height: 500px;
	background-color: #450000;
}

#ranking .title {
	position: absolute;
	float: left;
	left: 169px;
	top: 9px;
	font-size: 35px;
	color: #FFF;
}

.lista {
	position: absolute;
	float: left;
	left: 62px;
	top: 62px;
}
.lista .linha {
	width: 380px;
	height: 25px;
	padding-bottom: 4px;
}

.lista .linha .nome {
	float: left;
	font-size: 18px;
	color: #FFF;
}

.lista .linha .pontuacao {
	float: right;
	width: 80px;
	font-size: 18px;
	color: #FFF;
}

.setas {
	float: left;
	position: absolute;
	padding-left: 8px;
}

.slideLabel {
	float: left;
	position: absolute;
	font-size: 16px;
	padding-left: 76px;
	font-size: 18px;
}

.ladraoInstruction {
	float: left;
	position: absolute;
	padding-left: 145px;
}

.collectLabel {
	float: left;
	position: absolute;
	padding-left: 270px;
	font-size: 18px;
	width: 105px;
	text-align: center;
}

.bar {
	float: left;
	position: absolute;
	color: #FFD61F;

}

.items {
	padding-top: 5px;
}

#scoreBar {
	display: none;
}

.facebookLoginButton {
	position: absolute;
	float: left;
	top: 423px;
	left: 94px;
}

#loginStatus {
	position: absolute;
	float: left;
	left: 73px;
	top: 359px;
	font-size: 20px;
}

.buttonRanking {
	position: absolute;
	float: left;
	left: 252px;
	top: 404px;
	width: 181px;
	height: 49px;
	text-align: center;
	font-size: 26px;
	padding-top: 7px;
}

.buttonRanking:hover {
	cursor: pointer;
	/*background-color: #575757;
	color: #000;*/
}